# ‚öΩ Mod√©lisation et Analyse de Donn√©es Footballistiques

In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from selenium import webdriver
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [59]:
# les matches : 
df_matches_from_csv = pd.read_csv('../data/data_cleaned/matches_clean.csv')
df_matches_from_csv.head(5)

,Squad,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Opp_Formation,Referee,MatchKey
0,Liverpool,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2,0,Ipswich Town,2.6,0.5,62.0,30014,Virgil van Dijk,4-2-3-1,4-2-3-1,Tim Robinson,2024-08-17 00:00:00_Ipswich Town_Liverpool
1,Liverpool,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2,0,Brentford,2.5,0.5,62.0,60017,Virgil van Dijk,4-2-3-1,4-4-2,Stuart Attwell,2024-08-25 00:00:00_Brentford_Liverpool
2,Liverpool,2024-09-01,16:00,Premier League,Matchweek 3,Sun,Away,W,3,0,Manchester Utd,1.8,1.4,47.0,73738,Virgil van Dijk,4-2-3-1,4-2-3-1,Anthony Taylor,2024-09-01 00:00:00_Liverpool_Manchester Utd
3,Liverpool,2024-09-14,15:00,Premier League,Matchweek 4,Sat,Home,L,0,1,Nott'ham Forest,0.9,0.4,68.0,60344,Virgil van Dijk,4-2-3-1,4-2-3-1,Michael Oliver,2024-09-14 00:00:00_Liverpool_Nott'ham Forest
4,Liverpool,2024-09-17,21:00,Champions Lg,League phase,Tue,Away,W,3,1,it Milan,3.1,0.6,51.0,59826,Virgil van Dijk,4-2-3-1,4-2-3-1,Espen Esk√•s,2024-09-17 00:00:00_Liverpool_it Milan

In [60]:
# les matches : 
df_joueurs_from_csv = pd.read_csv('../data/data_cleaned/players_clean.csv')
df_joueurs_from_csv.head(5)

,Squad,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,CrdY,CrdR
0,Liverpool,Mohamed Salah,eg EGY,FW,32.0,38,38,3371.0,37.5,29.0,18.0,47.0,20.0,9.0,9.0,1.0,0.0
1,Liverpool,Virgil van Dijk,nl NED,DF,33.0,37,37,3330.0,37.0,3.0,1.0,4.0,3.0,0.0,0.0,5.0,0.0
2,Liverpool,Ryan Gravenberch,nl NED,MF,22.0,37,37,3160.0,35.1,0.0,4.0,4.0,0.0,0.0,0.0,6.0,1.0
3,Liverpool,Alexis Mac Allister,ar ARG,MF,25.0,35,30,2599.0,28.9,5.0,5.0,10.0,5.0,0.0,0.0,6.0,0.0
4,Liverpool,Ibrahima Konat√©,fr FRA,DF,25.0,31,30,2560.0,28.4,1.0,2.0,3.0,1.0,0.0,0.0,5.0,0.0

## Extraction des tables de base de donn√©es depuis un fichier CSV et Stocker dans un fichier CSV

###  üü¢ Table saison(id_saison, annee) :

In [61]:
list_saisons = ['2024-2025']
print(list_saisons)

print("Nombre total de saison :", len(list_saisons))

['2024-2025']
Nombre total de saison : 1

In [62]:

df_saisons = pd.DataFrame(list_saisons, columns=['Annees'])
df_saisons['Annees'] = '2024-2025'
df_saisons['id_saison'] = range(1, len(df_saisons) + 1)

df_saisons = df_saisons[['id_saison', 'Annees']]

df_saisons.head(5)

   id_saison     Annees
0          1  2024-2025

In [63]:
#  enregistrer dans les saisons dans un fichier CSV : 

df_saisons.to_csv('../data/data_load/data_saison.csv', index=False)

* extraire le id de saison pour l'utilisation dans les restes :

In [64]:
id_saison = df_saisons.query("Annees == '2024-2025'")['id_saison'].values[0]
# print(id_saison)

***

###  üü¢ Table equipe(idequipe, nomequipe, idcompetition, idsaison) :

In [65]:

list_team_home = df_matches_from_csv['Squad'].unique().tolist()
list_team_away = df_matches_from_csv['Opponent'].unique().tolist()

print("Nombre d'√©quipes √† domicile uniques :", len(list_team_home))
print("Nombre d'√©quipes √† l'ext√©rieur uniques :", len(list_team_away))

# Combiner les deux listes
list_teams = list_team_home + list_team_away

# Supprimer les doublons
list_teams = sorted(list(set(list_teams)))

# print(list_teams)

print("Nombre total d'√©quipes uniques :", len(list_teams))

Nombre d'√©quipes √† domicile uniques : 20
Nombre d'√©quipes √† l'ext√©rieur uniques : 112
Nombre total d'√©quipes uniques : 113

In [66]:

df_teams = pd.DataFrame(list_teams, columns=['Equipe'])
df_teams['id_saison'] = id_saison
df_teams['id_equipe'] = range(1, len(df_teams) + 1)

# R√©organiser les colonnes dans l'ordre id_equipe => equipe => id_saison
df_teams = df_teams[['id_equipe', 'Equipe', 'id_saison']]

df_teams.head(5)

   id_equipe           Equipe  id_saison
0          1    AFC Wimbledon          1
1          2  Acc'ton Stanley          1
2          3          Arsenal          1
3          4      Aston Villa          1
4          5         Barnsley          1

In [67]:
#  enregistrer dans les equipe dans un fichier CSV : 

df_teams.to_csv('../data/data_load/data_equipes.csv', index=False)

***

###  üü¢ Table competition(idcompetition, nomcompetition):

In [68]:
print(f"Le nombre total des matches : {len(df_matches_from_csv)}")

# R√©cup√©rer toutes les comp√©titions depuis le df_mathes
list_com = df_matches_from_csv['Comp'].tolist()

print("\nAvant suppression des doublons : le nombre total des entr√©es est ====>", len(list_com))

# Supprimer les doublons
competitions = list(df_matches_from_csv['Comp'].unique())

print("\nApr√®s suppression des doublons : le nombre total des comp√©titions est ====>", len(competitions))
print(competitions)

Le nombre total des matches : 559

Avant suppression des doublons : le nombre total des entr√©es est ====> 559

Apr√®s suppression des doublons : le nombre total des comp√©titions est ====> 7
['Premier League', 'Champions Lg', 'EFL Cup', 'FA Cup', 'FA Community Shield', 'Conf Lg', 'Europa Lg']

In [69]:

df_competitions = pd.DataFrame(competitions, columns=['nom_competition'])
df_competitions['id_competition'] = range(1, len(df_competitions) + 1)

# R√©organiser les colonnes dans l'ordre id_competition => competition
df_competitions = df_competitions[['id_competition', 'nom_competition']]

df_competitions

   id_competition      nom_competition
0               1       Premier League
1               2         Champions Lg
2               3              EFL Cup
3               4               FA Cup
4               5  FA Community Shield
5               6              Conf Lg
6               7            Europa Lg

In [70]:
#  enregistrer dans les competitions dans un fichier CSV : 

df_competitions.to_csv('../data/data_load/data_competitions.csv', index=False)

###  üü¢ Table match (idmatch_, date_match, heure, round, venue, idteamhome, idteam__away, id_competition, id_saison):

In [71]:
# R√©cup√©rer les ids : 

equipe_to_id = dict(zip(df_teams['Equipe'], df_teams['id_equipe']))

comp_to_id = dict(zip(df_competitions['nom_competition'], df_competitions['id_competition']))

id_saison = df_saisons[df_saisons['Annees'] == '2024-2025']['id_saison'].values[0]

matches_data = []

for index, row in df_matches_from_csv.iterrows():
    
    idteamhome = equipe_to_id.get(row['Squad'])
    idteamaway = equipe_to_id.get(row['Opponent'])
    
    id_competition = comp_to_id.get(row['Comp'])

    
    # data_match
    data_matche = {
        'date_match': row['Date'],
        'heure': row['Time'],
        'round': row['Round'],
        'venue': row['Venue'],
        'id_team_home': idteamhome,
        'id_team_away': idteamaway,
        'id_competition': id_competition,
        'id_saison': id_saison
    }
    
    matches_data.append(data_matche)

# Cr√©er le DataFrame df_matches
dataframe_matches = pd.DataFrame(matches_data)
dataframe_matches['id_match'] = range(1, len(dataframe_matches) + 1)
dataframe_matches = dataframe_matches[['id_match', 'date_match', 'heure', 'round', 'venue', 'id_team_home', 'id_team_away', 'id_competition', 'id_saison']]

print("Extrait des matches transform√©s :")
print(dataframe_matches.head(3))

Extrait des matches transform√©s :
   id_match  date_match  heure        round venue  id_team_home  id_team_away  \
0         1  2024-08-17  12:30  Matchweek 1  Away            30            27
1         2  2024-08-25  16:30  Matchweek 2  Home            30            11
2         3  2024-09-01  16:00  Matchweek 3  Away            30            33

   id_competition  id_saison
0               1          1
1               1          1
2               1          1

In [72]:
#  enregistrer dans les competitions dans un fichier CSV : 

dataframe_matches.to_csv('../data/data_load/data_matches.csv', index=False)

###  üü¢ resultatmatch(idresultat, idmatch, idequipe, butsmarques, butsconcedes, resultat ENUM('Victoire', 'D√©faite', 'Nul')) :

In [73]:
resultats_data = []

result_mapping = {
    'W': {'Home': 'Victoire', 'Away': 'D√©faite', 'Neutral': 'Victoire'},
    'L': {'Home': 'D√©faite', 'Away': 'Victoire', 'Neutral': 'D√©faite'},
    'D': {'Home': 'Nul', 'Away': 'Nul', 'Neutral': 'Nul'}
}

def get_team_result(result_char, team_venue, match_venue):
    
    if match_venue == 'Neutral':
        return result_mapping[result_char]['Neutral']
    else:
        return result_mapping[result_char][team_venue]

team_id_to_name = dict(zip(df_teams['id_equipe'], df_teams['Equipe']))

for index, match_row in dataframe_matches.iterrows():
    idmatch = match_row['id_match']
    id_team_home = match_row['id_team_home']
    id_team_away = match_row['id_team_away']
    date_match = match_row['date_match']
    venue = match_row['venue']  # 'Home', 'Away' ou 'Neutral'
    
    # R√©cup√©rer les noms des √©quipes
    home_team_name = team_id_to_name.get(id_team_home)
    away_team_name = team_id_to_name.get(id_team_away)
    
    mask = (
        (df_matches_from_csv['Date'] == date_match) & 
        (
            ((df_matches_from_csv['Squad'] == home_team_name) & (df_matches_from_csv['Opponent'] == away_team_name)) |
            ((df_matches_from_csv['Squad'] == away_team_name) & (df_matches_from_csv['Opponent'] == home_team_name))
        )
    )
    
    matching_matches = df_matches_from_csv[mask]
    
    if len(matching_matches) == 0:
        print(f"‚ùå Match non trouv√©: {date_match} - {home_team_name} vs {away_team_name}")
        continue
    
    original_match = matching_matches.iloc[0]
    
    if original_match['Squad'] == home_team_name:
        buts_marques_home = int(original_match['GF'])
        buts_marques_away = int(original_match['GA'])
        result_char = original_match['Result']
    else:
        buts_marques_home = int(original_match['GA'])
        buts_marques_away = int(original_match['GF'])
        result_char = original_match['Result']
    
    resultat_home = get_team_result(result_char, 'Home', venue)
    resultat_away = get_team_result(result_char, 'Away', venue)
    
    # Ajouter l'entr√©e pour l'√©quipe home
    resultats_data.append({
        'id_match': idmatch,
        'id_equipe': id_team_home,
        'buts_marques': buts_marques_home,
        'buts_concedes': buts_marques_away,
        'resultat': resultat_home
    })
    
    # Ajouter l'entr√©e pour l'√©quipe away
    resultats_data.append({
        'id_match': idmatch,
        'id_equipe': id_team_away,
        'buts_marques': buts_marques_away,
        'buts_concedes': buts_marques_home,
        'resultat': resultat_away
    })

In [74]:
# Cr√©er le DataFrame final des r√©sultats
df_resultats = pd.DataFrame(resultats_data)

df_resultats['id_resultat'] = range(1, len(df_resultats) + 1)

# R√©organiser les colonnes
colonnes_finales = ['id_resultat', 'id_match', 'id_equipe', 'buts_marques', 'buts_concedes', 'resultat']
df_resultats = df_resultats[colonnes_finales]

df_resultats.head(5)

   id_resultat  id_match  id_equipe  buts_marques  buts_concedes  resultat
0            1         1         30             2              0  Victoire
1            2         1         27             0              2   D√©faite
2            3         2         30             2              0  Victoire
3            4         2         11             0              2   D√©faite
4            5         3         30             3              0  Victoire

In [75]:
#  enregistrer dans les competitions dans un fichier CSV : 

df_resultats.to_csv('../data/data_load/data_resultat_match.csv', index=False)

###  üü¢ joueur(id_joueur, nom_joueur, position, nationalite, id_equipe);

In [76]:
df_joueurs_from_csv.columns

Index(['Squad', 'Player', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', '90s',
       'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR'],
      dtype='object')

In [77]:
# R√©cup√©rer les ids : 

joueurs_data = []

for index, row in df_joueurs_from_csv.iterrows():
    
    id_team = equipe_to_id.get(row['Squad'])
    
    # data_match
    data_joueur = {
        'nom_joueur': row['Player'],
        'position': row['Pos'],
        'nationalite': row['Nation'],
        'id_equipe': id_team,
    }
    
    joueurs_data.append(data_joueur)

# Cr√©er le DataFrame df_matches
dataframe_players = pd.DataFrame(joueurs_data)
dataframe_players['id_joueur'] = range(1, len(dataframe_players) + 1)
dataframe_players = dataframe_players[['id_joueur', 'nom_joueur', 'position', 'nationalite', 'id_equipe']]

print("Extrait des matches transform√©s :")
print(dataframe_players.head(3))

Extrait des matches transform√©s :
   id_joueur        nom_joueur position nationalite  id_equipe
0          1     Mohamed Salah       FW      eg EGY         30
1          2   Virgil van Dijk       DF      nl NED         30
2          3  Ryan Gravenberch       MF      nl NED         30

In [78]:
#  enregistrer dans les competitions dans un fichier CSV : 

dataframe_players.to_csv('../data/data_load/data_players.csv', index=False)

###  üü¢ statistiquejoueur(id_stats, id_joueur, buts, passes_decisives, nb_matches_played, cartons_jaunes, cartons_rouges);

In [79]:
df_joueurs_from_csv.columns

Index(['Squad', 'Player', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', '90s',
       'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR'],
      dtype='object')

In [80]:
# id_stats, id_joueur, buts, passes_decisives, nb_matches_played, cartons_jaunes, cartons_rouges

# R√©cup√©rer les ids : 

player_to_id = dict(zip(dataframe_players['nom_joueur'], dataframe_players['id_joueur']))

print(player_to_id)

statistiques_joueurs_data = []

for index, row in df_joueurs_from_csv.iterrows():
    
    id_joueur = player_to_id.get(row['Player'])
    
    # data_match
    data_stats_player = {
        'id_joueur': id_joueur,
        'buts': row['Gls'],
        'passes_decisives': row['Ast'],
        'nb_matches_played': row['MP'],
        'cartons_jaunes': row['CrdY'],
        'cartons_rouges': row['CrdR'],
    }
    
    statistiques_joueurs_data.append(data_stats_player)

# Cr√©er le DataFrame df_matches
dataframe_statistiques_joueurs = pd.DataFrame(statistiques_joueurs_data)
dataframe_statistiques_joueurs['id_stats'] = range(1, len(dataframe_statistiques_joueurs) + 1)
dataframe_statistiques_joueurs = dataframe_statistiques_joueurs[['id_stats', 'id_joueur', 'buts', 'passes_decisives', 'nb_matches_played', 'cartons_jaunes', 'cartons_rouges']]

print("Extrait des matches transform√©s :")
print(dataframe_statistiques_joueurs.head(3))

{'Mohamed Salah': 1, 'Virgil van Dijk': 2, 'Ryan Gravenberch': 3, 'Alexis Mac Allister': 4, 'Ibrahima Konat√©': 5, 'Dominik Szoboszlai': 6, 'Andrew Robertson': 7, 'Alisson': 8, 'Luis D√≠az': 9, 'Trent Alexander-Arnold': 10, 'Cody Gakpo': 11, 'Curtis Jones': 12, 'Diogo Jota': 13, 'Caoimh√≠n Kelleher': 14, 'Kostas Tsimikas': 15, 'Darwin N√∫√±ez': 16, 'Conor Bradley': 17, 'Joe Gomez': 18, 'Jarell Quansah': 19, 'Harvey Elliott': 20, 'Wataru Endo': 21, 'Federico Chiesa': 22, 'Vitezslav Jaros': 23, 'Jayden Danns': 24, 'Harvey Davies': 25, 'James McConnell': 26, 'Tyler Morton': 27, 'Amara Nallo': 28, 'Trey Nyoni': 29, 'David Raya': 30, 'William Saliba': 31, 'Declan Rice': 32, 'Thomas Partey': 33, 'Leandro Trossard': 34, 'Gabriel Magalh√£es': 35, 'Jurri√´n Timber': 36, 'Martin √òdegaard': 37, 'Gabriel Martinelli': 38, 'Kai Havertz': 39, 'Bukayo Saka': 40, 'Mikel Merino': 41, 'Myles Lewis-Skelly': 42, 'Ben White': 43, 'Riccardo Calafiori': 44, 'Ethan Nwaneri': 45, 'Jakub Kiwior': 46, 'Jorginho': 47, 'Raheem Sterling': 48, 'Gabriel Jesus': 49, 'Oleksandr Zinchenko': 50, 'Kieran Tierney': 51, 'Nathan Butler-Oyedeji': 52, 'Takehiro Tomiyasu': 53, 'Reiss Nelson': 362, 'Brayden Clarke': 55, 'Jimi Gower': 56, 'Ayden Heaven': 498, 'Jack Henry-Francis': 58, 'Ismeal Kabia': 59, 'Maldini Kacurri': 60, 'Neto': 292, 'Josh Nichols': 62, 'Eddie Nketiah': 387, "Salah Oulad M'Hand": 64, 'Jack Porter': 65, 'Aaron Ramsdale': 668, 'Tommy Setford': 67, 'Jo≈°ko Gvardiol': 68, 'Erling Haaland': 69, 'Bernardo Silva': 70, 'Ederson': 71, 'R√∫ben Dias': 72, 'ƒ∞lkay G√ºndoƒüan': 73, 'Mateo Kovaƒçiƒá': 74, 'Manuel Akanji': 75, 'Rico Lewis': 76, 'S√°vio': 77, 'Phil Foden': 78, 'Kevin De Bruyne': 79, 'Matheus Nunes': 80, 'Jeremy Doku': 81, 'Omar Marmoush': 82, 'Stefan Ortega': 83, 'Kyle Walker': 84, 'Nicol√°s Gonz√°lez': 85, 'Nathan Ak√©': 86, 'Jack Grealish': 87, 'John Stones': 88, 'Nico O‚ÄôReilly': 89, 'Abdukodir Khusanov': 90, 'James Mcatee': 91, 'Jahmai Simpson-Pusey': 92, 'Rodri': 93, 'Divin Mubama': 94, 'Oscar Bobb': 95, 'Claudio Echeverri': 96, 'Vitor Reis': 97, 'Max Alleyne': 98, 'Thorsten Brits': 99, 'Scott Carson': 100, 'Issa Kabor√©': 101, 'Josh Wilson-Esbrand': 102, 'Jacob Wright': 103, 'Mois√©s Caicedo': 104, 'Cole Palmer': 105, 'Levi Colwill': 106, 'Marc Cucurella': 107, 'Enzo Fern√°ndez': 108, 'Robert S√°nchez': 109, 'Nicolas Jackson': 110, 'Noni Madueke': 111, 'Pedro Neto': 112, 'Malo Gusto': 113, 'Jadon Sancho': 114, 'Tosin Adarabioyo': 115, 'Wesley Fofana': 116, 'Reece James': 117, 'Trevoh Chalobah': 386, 'Rom√©o Lavia': 119, 'Christopher Nkunku': 120, 'Filip J√∏rgensen': 121, 'Axel Disasi': 186, 'Jo√£o F√©lix': 123, 'Beno√Æt Badiashile': 124, 'Kiernan Dewsbury-Hall': 125, 'Joshua Acheampong': 126, 'Tyrique George': 127, 'Renato Veiga': 128, 'Mykhailo Mudryk': 129, 'Marc Guiu': 130, 'Mathis Amougou': 131, 'Shumaira Mheuka': 132, 'Aaron Anselmino': 133, 'Genesis Antwi': 134, 'Marcus Bettinelli': 135, 'Cesare Casadei': 136, 'Samuel Rak-Sakyi': 137, 'Ish√© Samuels-Smith': 138, 'Bruno Guimar√£es': 139, 'Dan Burn': 140, 'Alexander Isak': 141, 'Fabian Sch√§r': 142, 'Valentino Livramento': 143, 'Jacob Murphy': 144, 'Joelinton': 145, 'Sandro Tonali': 146, 'Nick Pope': 147, 'Anthony Gordon': 148, 'Lewis Hall': 149, 'Harvey Barnes': 150, 'Kieran Trippier': 151, 'Joe Willock': 152, 'Martin D√∫bravka': 153, 'Sean Longstaff': 154, 'Sven Botman': 155, 'Lloyd Kelly': 156, 'Callum Wilson': 157, 'Emil Krafth': 158, 'Lewis Miley': 159, 'Miguel Almir√≥n': 160, 'William Osula': 161, 'Matt Targett': 162, 'Jamaal Lascelles': 163, 'Alex Murphy': 164, 'Sean Neave': 165, 'John Ruddy': 166, 'Leo Shahar': 167, 'Odysseas Vlachodimos': 168, 'Emiliano Mart√≠nez': 169, 'Morgan Rogers': 170, 'Youri Tielemans': 171, 'Ezri Konsa': 172, 'Ollie Watkins': 173, 'Lucas Digne': 174, 'John McGinn': 175, 'Matty Cash': 176, 'Pau Torres': 177, 'Boubacar Kamara': 178, 'Amadou Onana': 179, 'Jacob Ramsey': 180, 'Leon Bailey': 181, 'Tyrone Mings': 182, 'Ian Maatsen': 183, 'Marco Asensio': 184, 'Diego Carlos': 185, 'Lamare Bogarde': 187, 'Andr√©s Garc√≠a': 188, 'J√°der Dur√°n': 189, 'Marcus Rashford': 489, 'Ross Barkley': 191, 'Jaden Philogene Bidace': 652, 'Donyell Malen': 193, 'Robin Olsen': 194, 'Kosta Nedeljkoviƒá': 195, 'Emi Buend√≠a': 196, 'Benjamin Broggio': 197, 'Joe Gauci': 198, 'Jamaldeen Jimoh': 199, 'Sil Swinkels': 200, 'Kadan Young': 201, 'Oliwier Zych': 202, 'Matz Sels': 203, 'Nikola Milenkoviƒá': 204, 'Murillo': 205, 'Ola Aina': 206, 'Chris Wood': 207, 'Morgan Gibbs-White': 208, 'Elliot Anderson': 209, 'Anthony Elanga': 210, 'Neco Williams': 211, 'Callum Hudson-Odoi': 212, 'Nicol√°s Dom√≠nguez': 213, 'Ryan Yates': 214, '√Ålex Moreno': 215, 'Ibrahim Sangar√©': 216, 'Morato': 217, 'Jota Silva': 218, 'James Ward-Prowse': 459, 'Danilo': 220, 'Taiwo Awoniyi': 221, 'Ram√≥n Sosa': 222, 'Willy Boly': 223, 'Harry Toffolo': 224, 'Eric da Silva Moreira': 225, 'Zach Abbott': 226, 'Wayne Hennessey': 227, 'Carlos Miguel': 228, 'Andrew Omobamidele': 229, 'Bart Verbruggen': 230, 'Jan Paul van Hecke': 231, 'Carlos Baleba': 232, 'Kaoru Mitoma': 233, 'Pervis Estupi√±√°n': 234, 'Danny Welbeck': 235, 'Lewis Dunk': 236, 'Jo√£o Pedro': 237, 'Yasin Ayari': 238, 'Jack Hinshelwood': 239, 'Yankuba Minteh': 240, 'Jo√´l Veltman': 241, 'Georginio Rutter': 242, 'Simon Adingra': 243, "Matt O'Riley": 244, 'Adam Webster': 245, 'Mats Wieffer': 246, 'Igor': 247, 'Tariq Lamptey': 248, 'Brajan Gruda': 249, 'Ferdi Kadioglu': 250, 'Diego G√≥mez': 251, 'James Milner': 252, 'Julio Enciso': 647, 'Evan Ferguson': 468, 'Jason Steele': 255, 'Solly March': 256, 'Billy Gilmour': 257, 'Eiran Cashin': 258, 'Jakub Moder': 259, 'Jeremy Sarmiento': 260, 'Harry Howell': 261, 'Valent√≠n Barco': 262, 'Killian Cahill': 263, 'Joe Knight': 264, 'Ruairi Mcconville': 265, "Mark O'Mahony": 266, 'Carl Rushworth': 267, 'Imari Samuels': 268, 'Freddie Simmonds': 269, 'Jacob Slater': 270, 'Charlie Tasker': 271, 'Milos Kerkez': 272, 'Antoine Semenyo': 273, 'Illia Zabarnyi': 274, 'Lewis Cook': 275, 'Kepa Arrizabalaga': 276, 'Justin Kluivert': 277, 'Evanilson': 278, 'Ryan Christie': 279, 'Dean Huijsen': 280, 'Dango Ouattara': 281, 'Tyler Adams': 282, 'Marcus Tavernier': 283, 'Adam Smith': 284, 'Marcos Senesi': 285, 'David Brooks': 286, 'Alex Scott': 287, 'Julian Araujo': 288, 'James Hill': 289, 'Mark Travers': 290, 'Enes √únal': 291, 'Luis Sinisterra': 293, 'Philip Billing': 294, 'Max Aarons': 295, 'Daniel Jebbison': 296, 'Ben Winterburn': 297, 'Julio Soler': 298, 'Remy Rees-Dottin': 299, 'Zain Silcott-Duberry': 300, 'Daniel Adu-Adjei': 301, 'Matai Akinmboni': 302, 'Jaidon Anthony': 303, 'Will Dennis': 304, 'Archie Harris': 305, 'Hamed Junior Traor√®': 306, 'Callan Mckenna': 307, 'Dominic Sadi': 308, 'Maxwell Wellings': 309, 'Nathan Collins': 310, 'Bryan Mbeumo': 311, 'Mark Flekken': 312, 'Keane Lewis-Potter': 313, 'Yoane Wissa': 314, 'Mikkel Damsgaard': 315, 'Christian N√∏rgaard': 316, 'Sepp van den Berg': 317, 'Vitaly Janelt': 318, 'Kevin Schade': 319, 'Ethan Pinnock': 320, 'Kristoffer Ajer': 321, 'Yehor Yarmoliuk': 322, 'Mads Roerslev': 323, 'Mathias Jensen': 324, 'Michael Kayode': 325, 'Fabio Carvalho': 326, 'Ben Mee': 327, 'Thiago': 328, 'H√°kon Valdimarsson': 329, 'Edmond-Paris Maghoma': 330, 'Rico Henry': 331, 'Yunus Emre Konak': 332, 'Kim Jisoo': 333, 'Frank Onyeka': 334, 'Gustavo Nunes': 335, 'Jayden Meghoma': 336, 'Ryan Trevitt': 337, 'Benjamin Arthur': 338, 'Julian Eyestone': 339, 'Benjamin Fredrick': 340, 'Aaron Hickey': 341, 'Iwan Morgan': 342, 'Myles Peart-Harris': 343, 'Tony Yogane': 344, 'Bernd Leno': 345, 'Antonee Robinson': 346, 'Alex Iwobi': 347, 'Calvin Bassey': 348, 'Ra√∫l Jim√©nez': 349, 'Joachim Andersen': 394, 'Sa≈°a Lukiƒá': 351, 'Sander Berge': 352, 'Emile Smith Rowe': 353, 'Andreas Pereira': 354, 'Kenny Tete': 355, 'Adama Traor√©': 356, 'Timothy Castagne': 357, 'Issa Diop': 358, 'Harry Wilson': 359, 'Rodrigo Muniz': 360, 'Ryan Sessegnon': 361, 'Jorge Cuenca': 363, 'Tom Cairney': 364, 'Willian': 365, 'Joshua King': 366, 'Harrison Reed': 367, 'Martial Godo': 368, 'Carlos Vin√≠cius': 369, 'Jay Stansfield': 370, 'Samuel Amissah': 371, 'Steven Benda': 372, 'Dean Henderson': 373, 'Daniel Mu√±oz': 374, 'Tyrick Mitchell': 375, 'Maxence Lacroix': 376, 'Marc Gu√©hi': 377, 'Jean-Philippe Mateta': 378, 'Eberechi Eze': 379, 'Ismaila Sarr': 380, 'Jefferson Lerma': 381, 'Will Hughes': 382, 'Chris Richards': 383, 'Adam Wharton': 384, 'Daichi Kamada': 385, 'Nathaniel Clyne': 388, 'Justin Devenny': 389, 'Cheick Doucour√©': 390, 'Ben Chilwell': 391, 'Romain Esse': 392, 'Odsonne √âdouard': 619, 'Chadi Riad': 395, 'Joel Ward': 396, 'Jeffrey Schlupp': 397, 'Matheus Fran√ßa': 398, 'Jordan Ayew': 601, 'Caleb Kporha': 400, 'Asher Agbinone': 401, 'Naouirou Ahamada': 402, 'Rob Holding': 403, 'Sam Johnstone': 533, 'Zachariah Marsh': 405, 'Remi Matthews': 406, 'Kaden Rodney': 407, 'Matt Turner': 408, 'Franco Umeh-Chibueze': 409, 'Jordan Pickford': 410, 'Vitaliy Mykolenko': 411, 'Idrissa Gana Gueye': 412, 'James Tarkowski': 413, 'Abdoulaye Doucour√©': 414, 'Iliman Ndiaye': 415, 'Jarrad Branthwaite': 416, 'Jack Harrison': 417, 'Ashley Young': 418, 'Dominic Calvert-Lewin': 419, 'James Garner': 420, "Jake O'Brien": 421, 'Beto': 422, 'Dwight McNeil': 423, 'Jesper Lindstr√∏m': 424, 'Orel Mangala': 425, 'Michael Keane': 426, 'Carlos Alcaraz': 700, 'Tim Iroegbunam': 428, 'Armando Broja': 429, 'Nathan Patterson': 430, 'S√©amus Coleman': 431, 'Roman Dixon': 432, 'Harrison Armstrong': 433, 'Youssef Chermiti': 434, 'Mason Holgate': 435, 'Callum Bates': 436, 'Asmir Begoviƒá': 437, 'Coby Ebere': 438, 'Isaac Heath': 439, 'Neal Maupay': 440, 'Jenson Metcalfe': 441, 'Martin Sherif': 442, 'Jo√£o Virg√≠nia': 443, 'Reece Welch': 444, 'Max Kilman': 445, 'Aaron Wan-Bissaka': 446, 'Jarrod Bowen': 447, 'Mohammed Kudus': 448, 'Tom√°≈° Souƒçek': 449, 'Lucas Paquet√°': 450, 'Emerson Palmieri': 451, 'Alphonse Areola': 452, 'Konstantinos Mavropanos': 453, 'Jean-Clair Todibo': 454, 'Edson √Ålvarez': 455, 'Guido Rodr√≠guez': 456, 'Carlos Soler': 457, '≈Åukasz Fabia≈Ñski': 458, 'Vladim√≠r Coufal': 460, 'Michail Antonio': 461, 'Aaron Cresswell': 462, 'Crysencio Summerville': 463, 'Oliver Scarles': 464, 'Niclas F√ºllkrug': 465, 'Danny Ings': 466, 'Andy Irving': 467, 'Luis Guilherme': 469, 'Lewis Orford': 470, 'Kaelan Casey': 471, 'Wes Foderingham': 472, 'Ezra Mayers': 473, 'Bruno Fernandes': 474, 'Andr√© Onana': 475, 'Noussair Mazraoui': 476, 'Diogo Dalot': 477, 'Matthijs de Ligt': 478, 'Alejandro Garnacho': 479, 'Rasmus H√∏jlund': 480, 'Manuel Ugarte': 481, 'Amad Diallo': 482, 'Lisandro Mart√≠nez': 483, 'Harry Maguire': 484, 'Kobbie Mainoo': 485, 'Casemiro': 486, 'Joshua Zirkzee': 487, 'Leny Yoro': 488, 'Christian Eriksen': 490, 'Patrick Dorgu': 491, 'Mason Mount': 492, 'Victor Lindel√∂f': 493, 'Altay Bayƒ±ndƒ±r': 494, 'Luke Shaw': 495, 'Harry Amass': 496, 'Jonny Evans': 497, 'Tyler Fredricson': 499, 'Tyrell Malacia': 500, 'Chidozie Obi-Martin': 501, 'Toby Collyer': 502, 'Antony': 503, 'Scott McTominay': 504, 'Jayce Fitzgerald': 505, 'Jack Fletcher': 506, 'Hubert Graczyk': 507, 'Elyh Harrison': 508, 'Tom Heaton': 509, 'Sekou Kon√©': 510, 'Godwill Kukonki': 511, 'Dermot Mee': 512, 'Jack Moorhouse': 513, 'Ethan Wheatley': 514, 'Rayan A√Øt-Nouri': 515, 'Jo√£o Gomes': 516, 'N√©lson Semedo': 517, 'Andr√©': 518, 'Toti Gomes': 519, 'J√∏rgen Strand Larsen': 520, 'Jos√© S√°': 521, 'Matheus Cunha': 522, 'Matt Doherty': 523, 'Jean-Ricner Bellegarde': 524, 'Santiago Bueno': 525, 'Emmanuel Agbadou': 526, 'Mario Lemina': 527, 'Marshall Munetsi': 528, 'Gon√ßalo Guedes': 529, 'Craig Dawson': 530, 'Pablo Sarabia': 531, 'Rodrigo Gomes': 532, 'Hwang Hee-chan': 534, 'Yerson Mosquera': 535, 'Tommy Doyle': 536, 'Daniel Bentley': 537, 'Carlos Forbs': 538, 'Pedro Lima': 539, 'Nasser Djiga': 540, 'Daniel Podence': 541, 'Chiquinho': 542, 'Mateus Mane': 543, 'Tom King': 544, 'Alfie Pond': 545, 'Boubacar Traor√©': 546, 'Tawanda Chirewa': 547, 'Luke Cundle': 548, 'Tom Edozie': 549, 'Bastien Meupiyou': 550, 'Wesley Okoduwa': 551, 'Pedro Porro': 552, 'Dejan Kulusevski': 553, 'Dominic Solanke': 554, 'Brennan Johnson': 555, 'Guglielmo Vicario': 556, 'Son Heung-min': 557, 'Destiny Udogie': 558, 'Pape Matar Sarr': 559, 'James Maddison': 560, 'Rodrigo Bentancur': 561, 'Djed Spence': 562, 'Archie Gray': 563, 'Cristian Romero': 564, 'Yves Bissouma': 565, 'Ben Davies': 566, 'Radu DrƒÉgu»ôin': 567, 'Micky van de Ven': 568, 'Lucas Bergvall': 569, 'Mathys Tel': 570, 'Wilson Odobert': 571, 'Kevin Danso': 572, 'Fraser Forster': 573, 'Anton√≠n Kinsk√Ω': 574, 'Timo Werner': 575, 'Richarlison': 576, 'Mikey Moore': 577, 'Sergio Reguil√≥n': 578, 'Brandon Austin': 579, 'Dane Scarlett': 580, 'Alfie Dorrington': 581, 'Will Lankshear': 582, 'Oyindamola Ajayi': 583, 'Dante Cassanova': 584, 'Alfie Devine': 585, 'Malachi Hardy': 586, 'Maeson King': 587, 'Yang Minhyeok': 588, 'Callum Olusesi': 589, 'Alfie Whiteman': 590, 'Luca Williams Barnett': 591, 'Jamie Vardy': 592, 'James Justin': 593, 'Wout Faes': 594, 'Victor Bernth Kristiansen': 595, 'Wilfred Ndidi': 596, 'Mads Hermansen': 597, 'Bilal El Khannouss': 598, 'Boubakary Soumar√©': 599, 'Conor Coady': 600, 'Harry Winks': 602, 'Stephy Mavididi': 603, 'Jannik Vestergaard': 604, 'Facundo Buonanotte': 605, 'Luke Thomas': 606, 'Caleb Okoli': 607, 'Oliver Skipp': 608, 'Jakub Stolarczyk': 609, 'Kasey McAteer': 610, 'Bobby De Cordova-Reid': 611, 'Patson Daka': 612, 'Abdul Fatawu Issahaku': 613, 'Ricardo Pereira': 614, 'Danny Ward': 615, 'Hamza Choudhury': 616, 'Woyo Coulibaly': 617, 'Jeremy Monga': 618, 'Jake Evans': 620, 'Olabade Aluko': 621, 'Will Alves': 622, 'Michael Golding': 623, 'Sammy Braybrooke': 624, 'Thomas Cannon': 625, 'Henry Cartwright': 626, 'Daniel Iversen': 627, 'Benjamin Nelson': 628, 'Thomas Wilson-Brown': 629, "Dara O'Shea": 630, 'Leif Davis': 631, 'Liam Delap': 632, 'Sam Morsy': 633, 'Omari Hutchinson': 634, 'Jacob Greaves': 635, 'Jens Cajuste': 636, 'Axel Tuanzebe': 637, 'Arijanet Muric': 638, 'Cameron Burgess': 639, 'Ben Johnson': 640, 'Kalvin Phillips': 641, 'Alex Palmer': 642, 'Sammie Szmodics': 643, 'Luke Woolfenden': 644, 'Jack Clarke': 645, 'Wes Burns': 646, 'Conor Chaplin': 648, 'Nathan Broadhead': 649, 'Christian Walton': 650, 'George Hirst': 651, 'Jack Taylor': 653, 'Harry Clarke': 654, 'Conor Townsend': 655, 'Chiedozie Ogbene': 656, 'Massimo Luongo': 657, 'Ben Godfrey': 658, 'Ali Al Hamadi': 659, 'Marcus Harness': 660, 'George Edmundson': 661, 'Somto Boniface': 662, 'Cieran Slicker': 663, 'Tom Taylor': 664, 'Mateus Fernandes': 665, 'Kyle Walker-Peters': 666, 'Taylor Harwood-Bellis': 667, 'Jan Bednarek': 669, 'Flynn Downes': 670, 'Joe Aribo': 671, 'Tyler Dibling': 672, 'Lesley Ugochukwu': 673, 'Ryan Manning': 674, 'Kamaldeen Sulemana': 675, 'Jack Stephens': 676, 'Yukinari Sugawara': 677, 'Adam Armstrong': 678, 'Cameron Archer': 679, 'James Bree': 680, 'Paul Onuachu': 681, 'Nathan Wood-Gordon': 682, 'William Smallbone': 683, 'Welington': 684, 'Alex McCarthy': 685, 'Adam Lallana': 686, 'Ben Brereton': 687, 'Ross Stewart': 688, 'Ryan Fraser': 689, 'Charlie Taylor': 690, 'Joe Lumley': 691, 'Armel Bella Kotchap': 692, 'Albert Gr√∏nbaek': 693, 'Jay Robinson': 694, 'Maxwel Cornet': 695, 'Samuel Edozie': 696, 'Samuel Amo-Ameyaw': 697, 'Joachim Kayi Sanda': 698, 'Ronnie Edwards': 699, 'Jayden Moore': 701, "Joe O'Brien-Whitmarsh": 702}
Extrait des matches transform√©s :
   id_stats  id_joueur  buts  passes_decisives  nb_matches_played  \
0         1          1  29.0              18.0                 38
1         2          2   3.0               1.0                 37
2         3          3   0.0               4.0                 37

   cartons_jaunes  cartons_rouges
0             1.0             0.0
1             5.0             0.0
2             6.0             1.0

In [81]:
#  enregistrer dans les competitions dans un fichier CSV : 

dataframe_statistiques_joueurs.to_csv('../data/data_load/data_statistiques_joueurs.csv', index=False)

In [82]:
print(dataframe_statistiques_joueurs.shape)
print(dataframe_players.shape)

(702, 7)
(702, 5)

In [83]:
dataframe_players_sorted = dataframe_players.sort_values(by='nom_joueur')
dataframe_players_sorted.to_csv('../data/data_load/data_statistiques_joueurs_sorted.csv', index=False)
dataframe_players_sorted

     id_joueur            nom_joueur position nationalite  id_equipe
132        133       Aaron Anselmino       DF      ar ARG         18
461        462       Aaron Cresswell       DF     eng ENG         55
340        341          Aaron Hickey    DF,MF     sct SCO         11
667        668        Aaron Ramsdale       GK     eng ENG         45
65          66        Aaron Ramsdale       GK     eng ENG          3
..         ...                   ...      ...         ...        ...
404        405       Zachariah Marsh       FW     eng ENG         22
299        300  Zain Silcott-Duberry       FW      ms MSR         10
214        215           √Ålex Moreno    DF,MF      es ESP         38
72          73        ƒ∞lkay G√ºndoƒüan       MF      de GER         32
457        458      ≈Åukasz Fabia≈Ñski       GK      pl POL         55

[702 rows x 5 columns]