# ⚽ Modélisation et Analyse de Données Footballistiques

## 3️⃣ Stockage et modélisation

* les imports :

In [41]:
from sqlalchemy import create_engine, MetaData,Table, Column, Integer, String, ForeignKey, DateTime, Date, Time, Numeric, Text, insert, Float, Enum, case
from sqlalchemy.orm import declarative_base, relationship

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

* Importer les dataframes :

In [42]:
# les saisons : 
dataframe_saisons = pd.read_csv('../data/data_load/data_saison.csv')
dataframe_saisons.head(3)

   id_saison     Annees
0          1  2024-2025

In [43]:
# les competitions : 
dataframe_competitions = pd.read_csv('../data/data_load/data_competitions.csv')
dataframe_competitions.head(3)

   id_competition nom_competition
0               1  Premier League
1               2    Champions Lg
2               3         EFL Cup

In [44]:
# les equipes : 
dataframe_equipe = pd.read_csv('../data/data_load/data_equipes.csv')
dataframe_equipe.head(3)

   id_equipe           Equipe  id_saison
0          1    AFC Wimbledon          1
1          2  Acc'ton Stanley          1
2          3          Arsenal          1

In [45]:
# les matches : 
dataframe_matche = pd.read_csv('../data/data_load/data_matches.csv')
dataframe_matche.head(3)

,id_match,date_match,heure,round,venue,id_team_home,id_team_away,id_competition,id_saison
0,1,2024-08-17,12:30,Matchweek 1,Away,30,27,1,1
1,2,2024-08-25,16:30,Matchweek 2,Home,30,11,1,1
2,3,2024-09-01,16:00,Matchweek 3,Away,30,33,1,1

In [46]:
# les players : 
dataframe_player = pd.read_csv('../data/data_load/data_players.csv')
dataframe_player.head(3)

   id_joueur        nom_joueur position nationalite  id_equipe
0          1     Mohamed Salah       FW      eg EGY         30
1          2   Virgil van Dijk       DF      nl NED         30
2          3  Ryan Gravenberch       MF      nl NED         30

In [47]:
# les resultats : 
dataframe_resultat = pd.read_csv('../data/data_load/data_resultat_match.csv')
dataframe_resultat.head(3)

   id_resultat  id_match  id_equipe  buts_marques  buts_concedes  resultat
0            1         1         30             2              0  Victoire
1            2         1         27             0              2   Défaite
2            3         2         30             2              0  Victoire

In [48]:
# les statistiques : 
dataframe_statistique = pd.read_csv('../data/data_load/data_statistiques_joueurs.csv')
dataframe_statistique.head(3)

,id_stats,id_joueur,buts,passes_decisives,nb_matches_played,cartons_jaunes,cartons_rouges
0,1,1,29,18,38,1,0
1,2,2,3,1,37,5,0
2,3,3,0,4,37,6,1

In [49]:
dataframe_statistique.isnull().sum()

id_stats             0
id_joueur            0
buts                 0
passes_decisives     0
nb_matches_played    0
cartons_jaunes       0
cartons_rouges       0
dtype: int64

### 🟢 Création de la base de données PostgreSQL

In [50]:

Base = declarative_base()
metadata = MetaData()
engine = create_engine("postgresql://postgres:bouchra@localhost:5432/FootData_db")

* table saisons :

In [51]:
Saison = Table(
    'saisons', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("annees", String, unique=True, index=True, nullable=False)
)

* table competitions :

In [52]:

Competition = Table(
    'competitions', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("nom_competition", String, unique=True, index=True, nullable=False)
)

* table equipes :

In [53]:
Equipe = Table(
    'equipes', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("equipe", String, index=True, nullable=False),
    Column("saison_id", Integer, ForeignKey("saisons.id", ondelete="CASCADE"))
)

* table joueurs :

In [54]:

Joueur = Table(
    'joueurs', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("nom_joueur", String, index=True, nullable=False),
    Column("position", String, index=True, nullable=False),
    Column("nationalite", String, index=True, nullable=False),
    Column("equipe_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE"))
)

* table matches :

In [55]:
Matche = Table(
    'matches', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("date_match", Date, nullable=False),
    Column("heure", Time, nullable=False),
    Column("round", String, index=True, nullable=False),
    Column("venue", Enum('Home', 'Away', 'Neutral', name='venue_enum'), nullable=False),
    Column("team_home_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE")),
    Column("team_away_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE")),
    Column("competition_id", Integer, ForeignKey("competitions.id", ondelete="CASCADE")),
    Column("saison_id", Integer, ForeignKey("saisons.id", ondelete="CASCADE")),
)

* table resultat_matchs :

In [56]:

Resultat_Match = Table(
    'resultat_matchs', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("matche_id", Integer, ForeignKey("matches.id", ondelete="CASCADE")),
    Column("equipe_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE")),
    Column("buts_marques", Integer, nullable=False),
    Column("buts_concedes", Integer, nullable=False),
    Column("resultat", Enum('Victoire', 'Défaite', 'Nul', name='resultat_enum'), nullable=False),
)

* table statistiques_joueurs :

In [57]:

Stat_joueur = Table(
    'statistiques_joueurs', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("joueur_id", Integer, ForeignKey("joueurs.id", ondelete="CASCADE")),
    Column("buts", Float, nullable=False),  # Changé en Float pour accepter 29.0
    Column("passes_decisives", Float, nullable=False),  # Changé en Float
    Column("nb_matches_played", Integer, nullable=False),
    Column("cartons_jaunes", Float, nullable=False),  # Changé en Float
    Column("cartons_rouges", Float, nullable=False),  # Changé en Float
)

🔎 Créer les table :

In [58]:

try:
    connection = engine.connect()
    
    transaction = connection.begin()
    metadata.drop_all(bind=connection) 
    metadata.create_all(bind=connection) 
    print("Tables créées avec succès !")
    
    transaction.commit()
    connection.close()
except Exception as ex:
    print("Erreur :", ex)

Tables créées avec succès !

### 🟢 Import des données transformées

In [59]:
def insert_data_from_dataframes():
    try:
        connection = engine.connect()
        transaction = connection.begin()
        
        data_mapping = {
            Saison: dataframe_saisons.rename(columns={'id_saison': 'id', 'Annees': 'annees'}),
            Competition: dataframe_competitions.rename(columns={'id_competition': 'id', 'nom_competition': 'nom_competition'}),
            Equipe: dataframe_equipe.rename(columns={'id_equipe': 'id', 'Equipe': 'equipe', 'id_saison': 'saison_id'}),
            Joueur: dataframe_player.rename(columns={'id_joueur': 'id', 'nom_joueur': 'nom_joueur', 'position': 'position', 
                                                   'nationalite': 'nationalite', 'id_equipe': 'equipe_id'}),
            Matche: dataframe_matche.rename(columns={'id_match': 'id', 'date_match': 'date_match', 'heure': 'heure',
                                                   'round': 'round', 'venue': 'venue', 'id_team_home': 'team_home_id',
                                                   'id_team_away': 'team_away_id', 'id_competition': 'competition_id',
                                                   'id_saison': 'saison_id'}),
            Resultat_Match: dataframe_resultat.rename(columns={'id_resultat': 'id', 'id_match': 'matche_id', 
                                                             'id_equipe': 'equipe_id', 'buts_marques': 'buts_marques',
                                                             'buts_concedes': 'buts_concedes', 'resultat': 'resultat'}),
            Stat_joueur: dataframe_statistique.rename(columns={'id_stats': 'id', 'id_joueur': 'joueur_id', 'buts': 'buts',
                                                             'passes_decisives': 'passes_decisives', 
                                                             'nb_matches_played': 'nb_matches_played',
                                                             'cartons_jaunes': 'cartons_jaunes', 
                                                             'cartons_rouges': 'cartons_rouges'})
        }
        

        insertion_order = [Saison, Competition, Equipe, Joueur, Matche, Resultat_Match, Stat_joueur]
        
        for table in insertion_order:
            df = data_mapping[table]
            print(f"Insertion dans {table.name} : {len(df)} lignes")
            
            data_to_insert = df.to_dict('records')
            
            if data_to_insert:
                connection.execute(insert(table), data_to_insert)
        
        transaction.commit()
        connection.close()
        print("Données insérées avec succès !")
        
    except Exception as ex:
        transaction.rollback()
        print("Erreur lors de l'insertion des données :", ex)
        raise


insert_data_from_dataframes()

Insertion dans saisons : 1 lignes
Insertion dans competitions : 7 lignes
Insertion dans equipes : 113 lignes
Insertion dans joueurs : 702 lignes
Insertion dans matches : 559 lignes
Insertion dans resultat_matchs : 1118 lignes
Insertion dans statistiques_joueurs : 702 lignes
Données insérées avec succès !

***
***

## 4️⃣ Analyse des données

In [60]:
from sqlalchemy import select, desc, func

### 📌 Q1 : Top 10 des meilleurs buteurs — Identifier les joueurs ayant marqué le plus de buts.

```sql
SELECT 
    j.nom_joueur,
    e.equipe,
    sj.buts
FROM statistiques_joueurs sj
JOIN joueurs j ON sj.joueur_id = j.id
JOIN equipes e ON j.equipe_id = e.id
ORDER BY sj.buts DESC
LIMIT 10;
```

In [61]:
query_top10Player = (
    select(
        Joueur.c.nom_joueur.label("Nom_Joueur"), 
        Equipe.c.equipe.label("Nom_Equipe"),
        Stat_joueur.c.buts.label("nb_Buts")
    )
    .select_from(
        Stat_joueur
        .join(Joueur, Stat_joueur.c.joueur_id == Joueur.c.id)
        .join(Equipe, Joueur.c.equipe_id == Equipe.c.id)
    )
    .order_by(desc(Stat_joueur.c.buts))
    .limit(10)
)

In [62]:
print(f"Top 10 des meilleurs buteurs — les joueurs ayant marqué le plus de buts :")

with engine.connect() as conn:
    results = conn.execute(query_top10Player).fetchall()
    # for row in results:
    #     print(row)
        
    res_q1 = pd.DataFrame(results, columns=["Nom_Joueur", "Nom_Equipe", "nb_Buts"])

res_q1

Top 10 des meilleurs buteurs — les joueurs ayant marqué le plus de buts :

             Nom_Joueur       Nom_Equipe  nb_Buts
0         Mohamed Salah        Liverpool     29.0
1        Alexander Isak    Newcastle Utd     23.0
2        Erling Haaland  Manchester City     22.0
3            Chris Wood  Nott'ham Forest     20.0
4          Bryan Mbeumo        Brentford     20.0
5           Yoane Wissa        Brentford     19.0
6         Ollie Watkins      Aston Villa     16.0
7           Cole Palmer          Chelsea     15.0
8         Matheus Cunha           Wolves     15.0
9  Jean-Philippe Mateta   Crystal Palace     14.0

### 📌 Q2 : Joueurs les plus décisifs — Calculer le total buts + passes décisives pour repérer les joueurs les plus influents.

```sql
SELECT 
    j.nom_joueur,
    e.equipe,
    sj.buts,
    sj.passes_decisives,
    (sj.buts + sj.passes_decisives) as total_contributions
FROM statistiques_joueurs sj
JOIN joueurs j ON sj.joueur_id = j.id
JOIN equipes e ON j.equipe_id = e.id
ORDER BY total_contributions DESC
LIMIT 10;
```

In [63]:
total_buts_passes = (Stat_joueur.c.buts + Stat_joueur.c.passes_decisives).label("total_buts_passes")

query_total_buts_passes = (
    select(
        Joueur.c.nom_joueur.label("Nom_Joueur"), 
        Equipe.c.equipe.label("Equipe"), 
        Stat_joueur.c.buts.label("Buts"), 
        Stat_joueur.c.passes_decisives.label("Passes_decisives"), 
        total_buts_passes.label("Total_Buts_Passes")
    )
    .select_from(
        Stat_joueur
        .join(Joueur, Stat_joueur.c.joueur_id == Joueur.c.id)
        .join(Equipe, Joueur.c.equipe_id == Equipe.c.id))
    .order_by(desc(total_buts_passes))
    .limit(10)
)

In [64]:
print(f"Joueurs les plus décisifs — Calculer le total buts + passes décisives pour repérer les joueurs les plus influents :")

with engine.connect() as conn:
    results = conn.execute(query_total_buts_passes).fetchall()
    # for row in results:
    #     print(row)
        
    res_q2 = pd.DataFrame(results, columns=["Nom_Joueur", "Equipe", "Buts", "Passes_decisives", "Total_Buts_Passes"])

res_q2

Joueurs les plus décisifs — Calculer le total buts + passes décisives pour repérer les joueurs les plus influents :

       Nom_Joueur           Equipe  Buts  Passes_decisives  Total_Buts_Passes
0   Mohamed Salah        Liverpool  29.0              18.0               47.0
1  Alexander Isak    Newcastle Utd  23.0               6.0               29.0
2    Bryan Mbeumo        Brentford  20.0               7.0               27.0
3  Erling Haaland  Manchester City  22.0               3.0               25.0
4   Ollie Watkins      Aston Villa  16.0               8.0               24.0
5     Yoane Wissa        Brentford  19.0               4.0               23.0
6     Cole Palmer          Chelsea  15.0               8.0               23.0
7      Chris Wood  Nott'ham Forest  20.0               3.0               23.0
8    Jarrod Bowen         West Ham  13.0               8.0               21.0
9   Matheus Cunha           Wolves  15.0               6.0               21.0

### 📌 Q3 : Joueurs les plus disciplinés — Analyser les statistiques de cartons jaunes et rouges.

```sql
SELECT 
    j.nom_joueur,
    e.equipe,
    sj.cartons_jaunes,
    sj.cartons_rouges,
    (sj.cartons_jaunes + sj.cartons_rouges) as score_discipline
FROM statistiques_joueurs sj
JOIN joueurs j ON sj.joueur_id = j.id
JOIN equipes e ON j.equipe_id = e.id
ORDER BY score_discipline DESC
LIMIT 10;
```

In [65]:
score_discipline = (Stat_joueur.c.cartons_jaunes + Stat_joueur.c.cartons_rouges).label('score_discipline')

query_q3 = (
    select(
        Joueur.c.nom_joueur.label("Nom_Joueur"), 
        Equipe.c.equipe.label("Equipe"), 
        Stat_joueur.c.cartons_jaunes.label("Cartons_jaunes"), 
        Stat_joueur.c.cartons_rouges.label("Cartons_rouges"), 
        score_discipline.label("Score_discipline")
    )
    .select_from(
        Stat_joueur
            .join(Joueur, Stat_joueur.c.joueur_id == Joueur.c.id)
            .join(Equipe, Joueur.c.equipe_id == Equipe.c.id))
    .order_by(desc(score_discipline))
    .limit(10)
)

In [66]:
print(f"Joueurs les plus disciplinés — Analyser les statistiques de cartons jaunes et rouges. :")

with engine.connect() as conn:
    results = conn.execute(query_q3).fetchall()
    # for row in results:
    #     print(row)
        
    res_q3 = pd.DataFrame(results, columns=["Nom_Joueur", "Equipe", "Cartons_jaunes", "Cartons_rouges", "Score_discipline"])

res_q3

Joueurs les plus disciplinés — Analyser les statistiques de cartons jaunes et rouges. :

,Nom_Joueur,Equipe,Cartons_jaunes,Cartons_rouges,Score_discipline
0,Morgan Gibbs-White,Nott'ham Forest,11.0,1.0,12.0
1,Saša Lukić,Fulham,12.0,0.0,12.0
2,João Gomes,Wolves,11.0,1.0,12.0
3,Flynn Downes,Southampton,12.0,0.0,12.0
4,Liam Delap,Ipswich Town,12.0,0.0,12.0
5,Dan Burn,Newcastle Utd,11.0,0.0,11.0
6,Marc Cucurella,Chelsea,10.0,1.0,11.0
7,Will Hughes,Crystal Palace,11.0,0.0,11.0
8,Manuel Ugarte,Manchester Utd,11.0,0.0,11.0
9,Moisés Caicedo,Chelsea,11.0,0.0,11.0

### 📌 Q4 : Répartition des nationalités des joueurs par équipe.

```sql
SELECT 
    e.equipe,
    j.nationalite,
    COUNT(*) as nombre_joueurs
FROM joueurs j
JOIN equipes e ON j.equipe_id = e.id
GROUP BY e.equipe, j.nationalite
ORDER BY e.equipe, nombre_joueurs DESC;
```

In [67]:
query_q4 = (
    select(
        Equipe.c.equipe.label("Equipe"), 
        Joueur.c.nationalite.label("Nationalite"), 
        func.count().label('nombre_joueurs')
    )
    .select_from(
        Joueur
        .join(Equipe, Joueur.c.equipe_id == Equipe.c.id))
    .group_by(Equipe.c.equipe, Joueur.c.nationalite)
    .order_by(Equipe.c.equipe, desc('nombre_joueurs')))

In [68]:
print(f"Répartition des nationalités des joueurs par équipe. :")

with engine.connect() as conn:
    results = conn.execute(query_q4).fetchall()
    # for row in results:
    #     print(row)
        
    res_q4 = pd.DataFrame(results, columns=["Equipe", "Nationalite", "nombre_joueurs"])

res_q4

Répartition des nationalités des joueurs par équipe. :

      Equipe Nationalite  nombre_joueurs
0    Arsenal     eng ENG              16
1    Arsenal      br BRA               4
2    Arsenal      it ITA               2
3    Arsenal      nl NED               2
4    Arsenal      es ESP               2
..       ...         ...             ...
318   Wolves     Inconnu               1
319   Wolves      no NOR               1
320   Wolves     wls WAL               1
321   Wolves      ga GAB               1
322   Wolves      kr KOR               1

[323 rows x 3 columns]

### 📌 Q5 : Nombre total de buts par équipe — Évaluer la puissance offensive de chaque équipe.

```sql
SELECT 
    e.equipe,
    SUM(rm.buts_marques) as total_buts_marques
FROM resultat_matchs rm
JOIN equipes e ON rm.equipe_id = e.id
GROUP BY e.equipe
ORDER BY total_buts_marques DESC;
```

In [69]:
query_q5 = (
    select(
        Equipe.c.equipe.label("Equipe"), 
        func.sum(Resultat_Match.c.buts_marques).label('total_buts_marques')
    )
    .select_from(
        Resultat_Match
        .join(Equipe, Resultat_Match.c.equipe_id == Equipe.c.id))
    .group_by(Equipe.c.equipe)
    .order_by(desc('total_buts_marques'))
)

In [70]:
print(f"Nombre total de buts par équipe — Évaluer la puissance offensive de chaque équipe. :")

with engine.connect() as conn:
    results = conn.execute(query_q5).fetchall()
    # for row in results:
    #     print(row)
        
    res_q5 = pd.DataFrame(results, columns=["Equipe", "total_buts_marques"])

res_q5

Nombre total de buts par équipe — Évaluer la puissance offensive de chaque équipe. :

               Equipe  total_buts_marques
0           Liverpool                 124
1     Manchester City                 120
2             Chelsea                 120
3             Arsenal                 114
4      Manchester Utd                 110
..                ...                 ...
108        Luton Town                   0
109            Barrow                   0
110       ua Shakhtar                   0
111        am FC Noah                   0
112  de Bayern Munich                   0

[113 rows x 2 columns]

### 📌 Q6 : Moyenne de buts marqués et encaissés par match — Mesurer l’efficacité et la défense moyenne des équipes.

```sql
SELECT 
    e.equipe,
    ROUND(AVG(rm.buts_marques)::numeric, 2) as moyenne_buts_marques,
    ROUND(AVG(rm.buts_concedes)::numeric, 2) as moyenne_buts_concedes,
    COUNT(rm.id) as nombre_matches
FROM resultat_matchs rm
JOIN equipes e ON rm.equipe_id = e.id
GROUP BY e.equipe
ORDER BY moyenne_buts_marques DESC;
```

In [71]:
query_q6 = (
    select(
        Equipe.c.equipe.label("Equipe"), 
        func.round(func.avg(Resultat_Match.c.buts_marques), 2).label('moyenne_buts_marques'),
        func.round(func.avg(Resultat_Match.c.buts_concedes), 2).label('moyenne_buts_concedes'),
        func.count(Resultat_Match.c.id).label('nombre_matches'))
    .select_from(
        Resultat_Match
        .join(Equipe, Resultat_Match.c.equipe_id == Equipe.c.id))
    .group_by(Equipe.c.equipe)
    .order_by(desc('moyenne_buts_marques'))
)

In [72]:
print(f"Moyenne de buts marqués et encaissés par match — Mesurer l’efficacité et la défense moyenne des équipes. :")

with engine.connect() as conn:
    results = conn.execute(query_q6).fetchall()
    # for row in results:
    #     print(row)
        
    res_q6 = pd.DataFrame(results, columns=["Equipe", "moyenne_buts_marques", "moyenne_buts_concedes", "nombre_matches"])

res_q6

Moyenne de buts marqués et encaissés par match — Mesurer l’efficacité et la défense moyenne des équipes. :

,Equipe,moyenne_buts_marques,moyenne_buts_concedes,nombre_matches
0,Preston,5.33,7.00,3
1,Sheffield Weds,4.00,5.00,1
2,nl Feyenoord,3.00,3.00,1
3,pt Porto,3.00,3.00,1
4,tr Galatasaray,3.00,2.00,1
...,...,...,...,...
108,az Qarabağ,0.00,3.00,1
109,de Bayern Munich,0.00,1.00,1
110,Morecambe,0.00,5.00,1
111,ch Young Boys,0.00,3.00,1
112,cz Sparta Prague,0.00,5.00,1

### 📌 Q7 : Classement des équipes — Établir un classement basé sur les résultats (victoire = 3 pts, nul = 1 pt).

```sql
SELECT 
    e.equipe,
    COUNT(*) as matches_joues,
    SUM(CASE WHEN rm.resultat = 'Victoire' THEN 1 ELSE 0 END) as victoires,
    SUM(CASE WHEN rm.resultat = 'Nul' THEN 1 ELSE 0 END) as nuls,
    SUM(CASE WHEN rm.resultat = 'Défaite' THEN 1 ELSE 0 END) as defaites,
    SUM(rm.buts_marques) as buts_pour,
    SUM(rm.buts_concedes) as buts_contre,
    (SUM(rm.buts_marques) - SUM(rm.buts_concedes)) as difference_buts,
    SUM(CASE 
        WHEN rm.resultat = 'Victoire' THEN 3 
        WHEN rm.resultat = 'Nul' THEN 1 
        ELSE 0 
    END) as points
FROM resultat_matchs rm
JOIN equipes e ON rm.equipe_id = e.id
GROUP BY e.equipe
ORDER BY points DESC, difference_buts DESC;
```

In [73]:
victoires = func.sum(case((Resultat_Match.c.resultat == 'Victoire', 1), else_=0)).label('victoires')
nuls = func.sum(case((Resultat_Match.c.resultat == 'Nul', 1), else_=0)).label('nuls')
defaites = func.sum(case((Resultat_Match.c.resultat == 'Défaite', 1), else_=0)).label('defaites')
points = func.sum(case((Resultat_Match.c.resultat == 'Victoire', 3), 
                      (Resultat_Match.c.resultat == 'Nul', 1), 
                      else_=0)).label('points')
difference_buts = (func.sum(Resultat_Match.c.buts_marques) - func.sum(Resultat_Match.c.buts_concedes)).label('difference_buts')

query_q7 = (
       select(
              Equipe.c.equipe.label("Equipe"),
              func.count().label('matches_joues'),
              victoires.label("Win"),
              nuls.label("Nuls"),
              defaites.label("Loss"),
              func.sum(Resultat_Match.c.buts_marques).label('buts_pour'),
              func.sum(Resultat_Match.c.buts_concedes).label('buts_contre'),
              difference_buts.label("difference_buts"),
              points.label("points")
       )
       .select_from(
              Resultat_Match
              .join(Equipe, Resultat_Match.c.equipe_id == Equipe.c.id)
       )
       .group_by(Equipe.c.equipe)
       .order_by(desc(points), desc(difference_buts)))

In [74]:
print(f"Classement des équipes — Établir un classement basé sur les résultats (victoire = 3 pts, nul = 1 pt). :")

with engine.connect() as conn:
    results = conn.execute(query_q7).fetchall()
    # for row in results:
    #     print(row)
        
    res_q7 = pd.DataFrame(results, columns=["Equipe", "matches_joues", "Win", "Nuls", "Loss", "buts_pour", "buts_contre", "difference_buts", "points"])

res_q7

Classement des équipes — Établir un classement basé sur les résultats (victoire = 3 pts, nul = 1 pt). :

,Equipe,matches_joues,Win,Nuls,Loss,buts_pour,buts_contre,difference_buts,points
0,Liverpool,56,38,9,9,124,58,66,123
1,Chelsea,57,35,9,13,120,59,61,114
2,Arsenal,58,32,16,10,114,56,58,112
3,Aston Villa,57,32,10,15,93,71,22,106
4,Manchester City,57,31,10,16,120,77,43,103
...,...,...,...,...,...,...,...,...,...
108,es Athletic Club,2,0,0,2,1,7,-6,0
109,Barnsley,1,0,0,1,0,7,-7,0
110,Norwich City,2,0,0,2,0,8,-8,0
111,am FC Noah,1,0,0,1,0,8,-8,0
112,Salford City,1,0,0,1,0,8,-8,0

### 📌 Q8 : Équipes avec la meilleure défense (par buts concédés)

```sql
SELECT 
    e.equipe,
    SUM(rm.buts_concedes) as total_buts_concedes,
    COUNT(rm.id) as nombre_matches,
    ROUND(AVG(rm.buts_concedes)::numeric, 2) as moyenne_buts_concedes_par_match
FROM resultat_matchs rm
JOIN equipes e ON rm.equipe_id = e.id
GROUP BY e.equipe
ORDER BY total_buts_concedes ASC;
```

In [75]:
from sqlalchemy import select, func

query_q8 = (
    select(
        Equipe.c.equipe.label("Equipe"),
        func.sum(Resultat_Match.c.buts_concedes).label('total_buts_concedes'),
        func.count(Resultat_Match.c.id).label('nombre_matches'),
        func.round(func.avg(Resultat_Match.c.buts_concedes), 2).label('moyenne_buts_concedes_par_match')
    )
    .select_from(
        Resultat_Match
        .join(Equipe, Resultat_Match.c.equipe_id == Equipe.c.id)
    )
    .group_by(Equipe.c.equipe)
    .order_by('total_buts_concedes')
)

In [76]:
print(f"Équipes avec la meilleure défense (par buts concédés) :")

with engine.connect() as conn:
    results = conn.execute(query_q8).fetchall()
    # for row in results:
    #     print(row)
        
    res_q8 = pd.DataFrame(results, columns=["Equipe", "total_buts_concedes", "nombre_matches", "moyenne_buts_concedes_par_match"])

res_q8

Équipes avec la meilleure défense (par buts concédés) :

,Equipe,total_buts_concedes,nombre_matches,moyenne_buts_concedes_par_match
0,it Inter,0,2,0.00
1,it Juventus,0,2,0.00
2,it Atalanta,0,1,0.00
3,eng Tottenham,0,1,0.00
4,Colchester Utd,1,1,1.00
...,...,...,...,...
108,Leicester City,89,43,2.07
109,Tottenham,89,60,1.48
110,Ipswich Town,92,42,2.19
111,Manchester Utd,94,60,1.57
112,Southampton,99,44,2.25

### 📌 Q9 : Meilleurs buteurs par équipe — Identifier le meilleur buteur dans chaque formation.

```sql
WITH classement_buteurs AS (
    SELECT 
        j.nom_joueur,
        e.equipe,
        sj.buts,
        sj.passes_decisives,
        (sj.buts + sj.passes_decisives) as total_contributions,
        ROW_NUMBER() OVER (PARTITION BY e.id ORDER BY sj.buts DESC, sj.passes_decisives DESC) as rang
    FROM statistiques_joueurs sj
    JOIN joueurs j ON sj.joueur_id = j.id
    JOIN equipes e ON j.equipe_id = e.id
    WHERE sj.buts > 0
)
SELECT 
    nom_joueur, 
    equipe, 
    buts,
    passes_decisives,
    total_contributions
FROM classement_buteurs
WHERE rang = 1
ORDER BY buts DESC, total_contributions DESC;
```

In [77]:
from sqlalchemy import select, func, case, text
from sqlalchemy.sql import alias

# Méthode avec sous-requête fenêtrée
subquery = (
    select(
        Joueur.c.nom_joueur,
        Equipe.c.equipe,
        Equipe.c.id.label('equipe_id'),
        Stat_joueur.c.buts,
        Stat_joueur.c.passes_decisives,
        (Stat_joueur.c.buts + Stat_joueur.c.passes_decisives).label('total_contributions'),
        func.row_number().over(
            partition_by=Equipe.c.id,
            order_by=[desc(Stat_joueur.c.buts), desc(Stat_joueur.c.passes_decisives)]
        ).label('rang')
    )
    .select_from(
        Stat_joueur
        .join(Joueur, Stat_joueur.c.joueur_id == Joueur.c.id)
        .join(Equipe, Joueur.c.equipe_id == Equipe.c.id)
    )
    .where(Stat_joueur.c.buts > 0)
    .cte('classement_buteurs')
)

query_q9 = (
    select(
        subquery.c.nom_joueur.label("Nom_joueur"),
        subquery.c.equipe.label("Equipe"),
        subquery.c.buts.label("Buts"),
        subquery.c.passes_decisives.label("Passes_decisives"),
        subquery.c.total_contributions.label("total_contributions")
    )
    .where(subquery.c.rang == 1)
    .order_by(desc(subquery.c.buts), desc(subquery.c.total_contributions))
)

In [78]:
print(f"Meilleurs buteurs par équipe — Identifier le meilleur buteur dans chaque formation. :")

with engine.connect() as conn:
    results = conn.execute(query_q9).fetchall()
    # for row in results:
    #     print(row)
        
    res_q9 = pd.DataFrame(results, columns=["Nom_joueur", "Equipe", "Buts", "Passes_decisives", "total_contributions"])

res_q9

Meilleurs buteurs par équipe — Identifier le meilleur buteur dans chaque formation. :

,Nom_joueur,Equipe,Buts,Passes_decisives,total_contributions
0,Mohamed Salah,Liverpool,29.0,18.0,47.0
1,Alexander Isak,Newcastle Utd,23.0,6.0,29.0
2,Erling Haaland,Manchester City,22.0,3.0,25.0
3,Bryan Mbeumo,Brentford,20.0,7.0,27.0
4,Chris Wood,Nott'ham Forest,20.0,3.0,23.0
5,Ollie Watkins,Aston Villa,16.0,8.0,24.0
6,Cole Palmer,Chelsea,15.0,8.0,23.0
7,Matheus Cunha,Wolves,15.0,6.0,21.0
8,Jean-Philippe Mateta,Crystal Palace,14.0,2.0,16.0
9,Jarrod Bowen,West Ham,13.0,8.0,21.0
10,Justin Kluivert,Bournemouth,12.0,6.0,18.0
11,Raúl Jiménez,Fulham,12.0,3.0,15.0
12,Liam Delap,Ipswich Town,12.0,2.0,14.0
13,Brennan Johnson,Tottenham,11.0,3.0,14.0
14,João Pedro,Brighton,10.0,6.0,16.0
15,Jamie Vardy,Leicester City,9.0,4.0,13.0
16,Kai Havertz,Arsenal,9.0,3.0,12.0
17,Iliman Ndiaye,Everton,9.0,0.0,9.0
18,Bruno Fernandes,Manchester Utd,8.0,10.0,18.0
19,Paul Onuachu,Southampton,4.0,1.0,5.0

### 📌 Q10 :Nombre total de matchs joués par équipe — Comptabiliser les participations de chaque équipe au cours de la saison.

```sql
SELECT 
    e.equipe,
    COUNT(rm.id) as total_matches_joues,
    COUNT(DISTINCT rm.matche_id) as matches_uniques,
    SUM(CASE WHEN rm.resultat = 'Victoire' THEN 1 ELSE 0 END) as victoires,
    SUM(CASE WHEN rm.resultat = 'Nul' THEN 1 ELSE 0 END) as nuls,
    SUM(CASE WHEN rm.resultat = 'Défaite' THEN 1 ELSE 0 END) as defaites
FROM resultat_matchs rm
JOIN equipes e ON rm.equipe_id = e.id
GROUP BY e.equipe
ORDER BY total_matches_joues DESC, victoires DESC;
```

In [79]:
query_q10 = (
    select(
        Equipe.c.equipe.label("Equipe"),
        func.count(Resultat_Match.c.id).label('total_matches_joues'),
        func.count(func.distinct(Resultat_Match.c.matche_id)).label('matches_uniques'),
        func.sum(case((Resultat_Match.c.resultat == 'Victoire', 1), else_=0)).label('victoires'),
        func.sum(case((Resultat_Match.c.resultat == 'Nul', 1), else_=0)).label('nuls'),
        func.sum(case((Resultat_Match.c.resultat == 'Défaite', 1), else_=0)).label('defaites')
    )
    .select_from(
        Resultat_Match
        .join(Equipe, Resultat_Match.c.equipe_id == Equipe.c.id))
    .group_by(Equipe.c.equipe)
    .order_by(desc('total_matches_joues'), desc('victoires'))
)

In [80]:
print(f"Classement des équipes — Établir un classement basé sur les résultats (victoire = 3 pts, nul = 1 pt). :")

with engine.connect() as conn:
    results = conn.execute(query_q10).fetchall()
    # for row in results:
    #     print(row)
        
    res_q10 = pd.DataFrame(results, columns=["Equipe", "total_matches_joues", "matches_uniques", "victoires", "nuls", "defaites"])

res_q10

Classement des équipes — Établir un classement basé sur les résultats (victoire = 3 pts, nul = 1 pt). :

,Equipe,total_matches_joues,matches_uniques,victoires,nuls,defaites
0,Tottenham,60,60,26,8,26
1,Manchester Utd,60,60,24,14,22
2,Arsenal,58,58,32,16,10
3,Chelsea,57,57,35,9,13
4,Aston Villa,57,57,32,10,15
...,...,...,...,...,...,...
108,ua Shakhtar,1,1,0,0,1
109,Walsall,1,1,0,0,1
110,West Brom,1,1,0,0,1
111,Wigan Athletic,1,1,0,0,1
112,Acc'ton Stanley,1,1,0,0,1