# # ‚öΩ Mod√©lisation et Analyse de Donn√©es Footballistiques

## 3Ô∏è‚É£ Stockage et mod√©lisation

* les imports :

In [18]:
from sqlalchemy import create_engine, MetaData,Table, Column, Integer, String, ForeignKey, DateTime, Date, Time, Numeric, Text, insert, Float, Enum
from sqlalchemy.orm import declarative_base, relationship

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

* Importer les dataframes :

In [19]:
# les saisons : 
dataframe_saisons = pd.read_csv('../data/data_load/data_saison.csv')
dataframe_saisons.head(3)

   id_saison     Annees
0          1  2024-2025

In [20]:
# les competitions : 
dataframe_competitions = pd.read_csv('../data/data_load/data_competitions.csv')
dataframe_competitions.head(3)

   id_competition nom_competition
0               1  Premier League
1               2    Champions Lg
2               3         EFL Cup

In [21]:
# les equipes : 
dataframe_equipe = pd.read_csv('../data/data_load/data_equipes.csv')
dataframe_equipe.head(3)

   id_equipe           Equipe  id_saison
0          1    AFC Wimbledon          1
1          2  Acc'ton Stanley          1
2          3          Arsenal          1

In [22]:
# les matches : 
dataframe_matche = pd.read_csv('../data/data_load/data_matches.csv')
dataframe_matche.head(3)

,id_match,date_match,heure,round,venue,id_team_home,id_team_away,id_competition,id_saison
0,1,2024-08-17,12:30,Matchweek 1,Away,30,27,1,1
1,2,2024-08-25,16:30,Matchweek 2,Home,30,11,1,1
2,3,2024-09-01,16:00,Matchweek 3,Away,30,33,1,1

In [23]:
# les players : 
dataframe_player = pd.read_csv('../data/data_load/data_players.csv')
dataframe_player.head(3)

   id_joueur        nom_joueur position nationalite  id_equipe
0          1     Mohamed Salah       FW      eg EGY         30
1          2   Virgil van Dijk       DF      nl NED         30
2          3  Ryan Gravenberch       MF      nl NED         30

In [24]:
# les resultats : 
dataframe_resultat = pd.read_csv('../data/data_load/data_resultat_match.csv')
dataframe_resultat.head(3)

   id_resultat  id_match  id_equipe  buts_marques  buts_concedes  resultat
0            1         1         30             2              0  Victoire
1            2         1         27             0              2   D√©faite
2            3         2         30             2              0  Victoire

In [25]:
# les statistiques : 
dataframe_statistique = pd.read_csv('../data/data_load/data_statistiques_joueurs_sorted.csv')
dataframe_statistique.head(3)

   id_joueur       nom_joueur position nationalite  id_equipe
0        133  Aaron Anselmino       DF      ar ARG         18
1        462  Aaron Cresswell       DF     eng ENG         55
2        341     Aaron Hickey    DF,MF     sct SCO         11

### üü¢ Cr√©ation de la base de donn√©es PostgreSQL

In [26]:

Base = declarative_base()
metadata = MetaData()
engine = create_engine("postgresql://postgres:bouchra@localhost:5432/FootData_db")

* table saisons :

In [27]:
Saison = Table(
    'saisons', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("annees", String, unique=True, index=True, nullable=False)
)

* table competitions :

In [28]:

Competition = Table(
    'competitions', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("nom_competition", String, unique=True, index=True, nullable=False)
)

* table equipes :

In [29]:
Equipe = Table(
    'equipes', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("equipe", String, index=True, nullable=False),
    Column("saison_id", Integer, ForeignKey("saisons.id", ondelete="CASCADE"))
)

* table joueurs :

In [30]:

Joueur = Table(
    'joueurs', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("nom_joueur", String, index=True, nullable=False),
    Column("position", String, index=True, nullable=False),
    Column("nationalite", String, index=True, nullable=False),
    Column("equipe_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE"))
)

* table matches :

In [31]:
Matche = Table(
    'matches', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("date_match", Date, nullable=False),
    Column("heure", Time, nullable=False),
    Column("round", String, index=True, nullable=False),
    Column("venue", Enum('Home', 'Away', 'Neutral', name='venue_enum'), nullable=False),
    Column("team_home_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE")),
    Column("team_away_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE")),
    Column("competition_id", Integer, ForeignKey("competitions.id", ondelete="CASCADE")),
    Column("saison_id", Integer, ForeignKey("saisons.id", ondelete="CASCADE")),
)

* table resultat_matchs :

In [32]:

Resultat_Match = Table(
    'resultat_matchs', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("matche_id", Integer, ForeignKey("matches.id", ondelete="CASCADE")),
    Column("equipe_id", Integer, ForeignKey("equipes.id", ondelete="CASCADE")),
    Column("buts_marques", Integer, nullable=False),
    Column("buts_concedes", Integer, nullable=False),
    Column("resultat", Enum('Victoire', 'D√©faite', 'Nul', name='resultat_enum'), nullable=False),
)

* table statistiques_joueurs :

In [33]:

Stat_joueur = Table(
    'statistiques_joueurs', metadata,
    Column("id", Integer, primary_key=True, index=True),
    Column("joueur_id", Integer, ForeignKey("joueurs.id", ondelete="CASCADE")),
    Column("buts", Float, nullable=False),  # Chang√© en Float pour accepter 29.0
    Column("passes_decisives", Float, nullable=False),  # Chang√© en Float
    Column("nb_matches_played", Integer, nullable=False),
    Column("cartons_jaunes", Float, nullable=False),  # Chang√© en Float
    Column("cartons_rouges", Float, nullable=False),  # Chang√© en Float
)

üîé Cr√©er les table :

In [34]:

try:
    connection = engine.connect()
    
    transaction = connection.begin()
    metadata.drop_all(bind=connection) 
    metadata.create_all(bind=connection) 
    print("Tables cr√©√©es avec succ√®s !")
    
    transaction.commit()
    connection.close()
except Exception as ex:
    print("Erreur :", ex)

Tables cr√©√©es avec succ√®s !